.custom-list-input { 
  min-width: 150px;
}

.no-options-alert { 
  margin-top: 2%;
}

.options {
  margin-top: 20px;
}

.match-list-name {
  margin-right: 1%;
}

.option {
  cursor: pointer;
}

.spinner {
  display: block;
  margin: 5% auto;
  width: 62%;
}

.user-content {
  vertical-align: top;
  width: 100%;
}

.user-layout {
  vertical-align: top;
}

.user-sidebar { 
  padding-right: 1%;
  vertical-align: top;
  white-space: nowrap;
}
