<template name="notifications">
  <li class="dropdown">
    <a
      id='results-dropdown'
      href="#"
      class="dropdown-toggle"
      data-toggle="dropdown"
      role="button"
      aria-expanded="false"
    >
      notifications
      <span class="badge badge-inverse">{{notificationCount}}</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {{#if notificationCount}}
        {{#each notifications}}
          {{> notificationItem}}
        {{/each}}
      {{else}}
        <li><a>no notifications</a></li>
      {{/if}}
    </ul>
  </li>
</template>
