<template name='match'>
  {{ #if Template.subscriptionsReady }}
    <tr>
      <td>
        {{ #if canPreview }}
          <a class='toggleExpanded' href='#'>{{ item.displayText }}</a>
        {{ else }}
          {{ this.item.displayText }}
        {{ /if }}
      </td>
      <td><a href='{{ pathFor "user" _id=list.userId }}'>{{ getEmail }}</a></td>
      <td>{{ this.list.name }}</td>
    </tr>
    {{ #if isExpanded }}
      {{ #with previewData }}
        {{ >preview }}
      {{ /with }}
    {{ /if }}
  {{ else }}
    {{ >loading }}
  {{ /if }}
</template>
