<template name='matches'>
  {{ #if Template.subscriptionsReady }}
    {{ #if matches }}
      <table class='table table-hover table-striped'>
        <thead>
          <tr><th colspan='3'><h4>matches</h4></th></tr>
          <tr>
            <th>item</th>
            <th>user</th>
            <th>list</th>
          </tr>
        </thead>
        <tbody>
          {{ #each matches }}
            {{> match }}
          {{ /each }}
        </tbody>
      </table>
    {{ /if }}
  {{ else }}
    {{> loading }}
  {{ /if }}
</template>
