<template name='item'>
  {{ #if Template.subscriptionsReady }}
    <tr>
      <td>
        {{ #if canPreview }}
          <a class='toggleExpanded' href='#'>{{ displayText }}</a>
        {{ else }}
          {{ displayText }}
        {{ /if }}
      </td>
      <td>
        <div class='btn-group pull-right'>
          {{ #if isOwner }}
            <button class='btn btn-xs btn-danger delete-item'>
              <span class='glyphicon glyphicon-remove'></span>
            </button>
          {{ /if }}

          {{ #if canAdd }}
            <button class='btn btn-xs btn-success add-item'>
              <span class='glyphicon glyphicon-add'></span>
            </button>
          {{ /if }}
        </div>
      </td>
    </tr>
    {{ #if isExpanded }}
      {{ #with previewData }}
        {{ >preview }}
      {{ /with }}
    {{ /if }}
  {{ /if }}
</template>
