<template name='list'>
  {{#if Template.subscriptionsReady}} 
    {{#if isOwner}}
      {{> listControls}}
    {{/if}}

    <table class='table table-striped table-hover'>
      <tbody>
        {{#each items}}
          {{> item}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{> loading}}
  {{/if}}
</template>
