<template name='listControls'>
  <div class='panel-body'>
    <form class='add-item-form'>
      <div class='input-group'>
        <input name='item' placeholder='Add {{elementName}}.' type='text' class='item-input form-control'>
        {{#if isValidInput}}
          <span class='input-group-btn'>
            <button class='btn btn-success' type='submit'>
              <span class='glyphicon glyphicon-plus'></span>
            </button>
          </span>
        {{/if}}
      </div>
    </form>

    {{#if isLoading}}
      <img class='spinner' src='/images/circles.svg'>
    {{else}}
      {{#if optionsAreEmpty}}
        <div class='alert alert-danger no-options-alert'>No options found.</div>
      {{else}}
        {{#if options}}
          <div class='panel panel-default options'>
            <div class='list-group'>
              {{#each options}}
                {{> option}}
              {{/each}}
            </div>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>
