<template name='listPage'>
  <div class='row'>
    <div class='col-sm-6'>
      {{> listDescription}}
    </div>

    <div class='col-sm-6'>
      <div class='clearfix panel-heading'>
        {{> listHeading}}
        <span class='pull-right'>
          <button class='btn btn-xs btn-primary deleteList'>
            <span class='glyphicon glyphicon-remove'></span>
          </button>
        </span>
      </div>

      {{> list}}
    </div>
  </div>
</template>
