<template name='listDescription'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      {{> listHeading}}
    </div>
    <div class='table-responsive'>
      <table class='table table-striped table-hover table-bordered'>
        <tbody>
          <tr>
            <td>Creator</td>
            <td><a href='{{pathFor "user" _id=userId}}'>{{creator}}</a></td>
          </tr>
          <tr>
            <td>Created On</td>
            <td>{{createdAt}}</td>
          </tr>
          <tr>
            <td>Source</td>
            <td>{{source}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
