<template name='lists'>
  {{ #if Template.subscriptionsReady }}
    <ul class="nav nav-tabs" role="tablist">
      <li class="{{isActiveClass 'Movies'}} movies-tab"><a href="#">Movies</a></li>

      <li class="{{isActiveClass 'Songs'}} songs-tab"><a href="#">Songs</a></li>
      
      <li class="{{isActiveClass customListName }} dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {{customListName}} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          {{#each customLists}}
            <li>
              <a class='custom-list clearfix' href='#'>
                {{this.name}}
                {{#if isOwnerList}}
                  <span class='pull-right'>
                    <button class='btn btn-xs btn-danger delete-list'>
                      <span class='glyphicon glyphicon-remove'></span>
                    </button>
                  </span>
                {{/if}}
              </a>
            </li>
          {{/each}}
          {{#if isOwnerLists}}
            <li class='divider'></li>
            <li>
              <a>
                <form class='new-custom-list-form'>
                  <div class='input-group'>
                    <input
                      class='custom-list-input form-control'
                      name='listName'
                      placeholder='Create Custom List'
                      type='text'
                    >
                    {{#if isValidInput}}
                      <span class='input-group-btn'>
                        <button class='btn btn-success'>
                          <span class='glyphicon glyphicon-plus'></span>
                        </button>
                      </span>
                    {{/if}}
                  </div>
                </form>
              </a>
            </li>                        
          {{/if}}
        </ul>
      </li>
    </ul>

    {{#with activeList}}
      {{> list}}
    {{/with}}
  {{ else }}
    {{> loading }}
  {{ /if }}
</template>
