<template name='blog'>
  {{ #if Template.subscriptionsReady }}
    {{ #if isAdmin }}
      <form class='add-post-form'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <div class='form-group'>
              <input
                class='form-control'
                name='title'
                type='text'
                placeholder = 'title'
              >
            </div>
          </div>
          <div class='panel-body'>
            <textarea 
              class='form-control'
              name='text'
              placeholder='body (Markdown)'
              rows='10'
            ></textarea>
          </div>
          <div class='panel-footer'>
            <button type='submit' class='btn btn-default'>submit</button>
          </div>
        </div>
      </form>
    {{ /if }}

    {{ #each posts }}
      <div class='panel panel-default'>
        <div class='panel-heading'><big><strong>{{ this.title }}</strong></big></div>
        <div class='panel-body'>{{ #markdown }}{{ this.text }}{{ /markdown }}</div>
        <div class='panel-footer'><small>{{ this.date }}</small></div>
      </div>
    {{ /each }}
  {{ /if }}
</template>
