<template name='header'>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">alikely</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class='nav navbar-nav'>
          <li class='{{ activeRouteClass "blog" }}'><a href='/blog'>blog</a></li>

          {{ #if currentUser }}
            <li class='{{ isMeActiveClass }}'>
              <a href='{{ pathFor "user" _id=currentUser._id}}'>me</a>
            </li>

            {{> notifications }}
          {{ /if }}
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          {{> loginButtons }}
        </ul>
      </div>
    </div>
  </nav>
</template>
