<template name='home'>
  {{ #if Template.subscriptionsReady }}
    <div class='alert alert-danger alert-dismissible'>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Warning!</strong>
      This application is under heavy development.
      Your data could be leaked or deleted!
    </div>

    <div class='well'>
      <strong>Welcome to alikely.</strong>
      {{ #if isUser }}
        Go to your user page to build your lists.
      {{ else }}
        Please sign up or log in in the upper right to get started.
      {{ /if }}
    </div>

    <div class='panel panel-default'>
      <div class='panel-heading'>users</div>
      <div class='list-group'>
        {{ #each users }}
          <a class='list-group-item' href='{{pathFor "user"}}'>{{getUserEmail this}}</a>
        {{ /each }}
      </div>
    </div>
  {{ else }}
    {{> loading }}
  {{ /if }}
</template>
