<template name='followers'>
  {{ #if followers }}
    <table class='table table-striped table-hover'>
      <thead><tr><th><h4>followers</h4></th></tr></thead>
      <tbody>
        {{ #each followers}}
          <tr><td><a href='{{ pathFor "user" }}'>{{ getEmail }}</a></td></tr>
        {{ /each }}
      </tbody>
    </table>
  {{ /if }}
</template>
