<template name='following'>
  {{ #if following }}
    <table class='table table-striped table-hover'>
      <thead><tr><th><h4>following</h4></th></tr></thead>
      <tbody>
        {{ #each following}}
          <tr><td><a href='{{ pathFor "user" }}'>{{ getEmail }}</a></td></tr>
        {{ /each }}
      </tbody>
    </table>
  {{ /if }}
</template>
