<template name='user'>
  {{ #if Template.subscriptionsReady }}
  <table class='table user-layout'>
    <tr>
      <td class='user-sidebar'>
        {{ >userSidebar }}
      </td>
      <td class='user-content'>
        <div class='row'>
          <div class='col-md-6'>
            {{ >matches}}
            {{ >followers }}
            {{ >following }}
          </div>

          <div class='col-md-6'>
            {{ >lists}}
          </div>
        </div>
      </td>
    </tr>
  </table>
  {{ /if }}
</template>
