<template name='userSidebar'>
  {{ #if Template.subscriptionsReady }}
    <table class='table table-hover'>
      <thead>
        <tr class='{{ isActiveClass }}'><th><h4>
          <a href='/user/{{ this._id }}/'>{{ getEmail }}</a>
          <div class='btn-group'>
            {{ #if canFollow }}
              <button class='btn btn-success btn-xs follow'>follow</button>
            {{ /if }}
            {{ #if canUnfollow }}
              <button class='btn btn-danger btn-xs unfollow'>unfollow</button>
            {{ /if }}
          </div>
        </h4></th></tr>
      </thead>
      <tbody>
        <tr class='{{ isActiveClass "matches" }}'><td>
          <a href='/user/{{ this._id }}/matches'>
            matches
            <span class='badge'>{{ matchCount }}</span>
          </a>
        </td></tr>
        <tr class='{{ isActiveClass "lists" }}'><td>
          <a href='/user/{{ this._id }}/lists'>
            lists
            <span class='badge'>{{ listCount }}</span>
          </a>
        </td></tr>
        <tr class='{{ isActiveClass "followers" }}'><td>
          <a href='/user/{{ this._id }}/followers'>
            followers
            <span class='badge'>{{ followersCount }}</span>
          </a>
        </td></tr>
        <tr class='{{ isActiveClass "following" }}'><td>
          <a href='/user/{{ this._id }}/following'>
            following
            <span class='badge'>{{ followingCount }}</span>
          </a>
        </td></tr>
      </tbody>
    </table>
  {{ /if }}
</template>
