<template name='userContent'>
  {{ #if Template.subscriptionsReady }}
  <table class='table user-layout'>
    <tr>
      <td class='user-sidebar'>
        {{ >userSidebar }}
      </td>
      <td class='user-content'>
        {{ #if content 'matches' }}
          {{ >matches}}
        {{ /if }}
        {{ #if content 'followers' }}
          {{ >followers }}
        {{ /if }}
        {{ #if content 'following' }}
          {{ >following }}
        {{ /if }}
        {{ #if content 'lists' }}
          {{ >lists}}
        {{ /if }}
      </td>
    </tr>
  </table>
  {{ /if }}
</template>
