<template name='option'>
  <a href='#' class='clearfix list-group-item option'>
    {{this.displayText}}
    <span class='pull-right'>
      <button class='btn btn-xs btn-primary external-url'>
        <span class='glyphicon glyphicon-export'></span>
      </button>
    </span>
  </a>
</template>
